@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.33;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr); 
    gap: 20px;
    row-gap: 5rem;
}

.top-nav {
    grid-column: col-start / span 12;
    height: auto;
    background: #ffffff;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 5;

}

.inside-nav {
    width: 85%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    background: #ffffff;
    width: auto;
    height: auto;  
}
.logo h1 {
    font-size: 32.9px;
    color: #4A6364;
}
.logo .phile {
    color: #fd9900;
}

.top-nav .right-side {
    position: relative;
    right: 84px;
    width: auto;
    height: auto;
}

.right-side input {
    height: 40px;
}

.search-icon {
    position: absolute;
    left: 230px;
    bottom: 1px;
    width: 38px;
    height: 38px;
    background:#fd9900 ;
}
.search-icon img {
    width: 28px;
    position: relative;
    top: 6px;
    left: 6px;
    color: #ffffff;
}

.cart {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 271px;
    bottom: 1px;
}

.main-nav {
    background: #476462;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-nav ul {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
} 

.main-nav ul li {
    text-transform: uppercase;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: 0.25px;
}

.main-nav ul li:hover {
    background: gainsboro;
}


.hero {
    grid-column: col-start / span 12;
    height: 600px;
    background: url(/michal-kubalczyk-WecngmAT-KY-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.products {
    grid-column:col-start 2 / span 10;
    height: auto;
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    align-items: center;
}


.computers, .components {   
    height: 20rem;
    background: #fffbf5;
    display: flex;
    justify-content: center;
   
}
.products-flex {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.products-flex h3 {
   color: #331f00;
   font-size: 1.2rem;
}

.products-flex a {
    font-size: 0.7rem;
    text-decoration: none;
}

.products-flex img {
   width: 100%;
   height: 80%;
}



.products .signup {
    height: 315px;
    background:red;
}

.recomended-products {
    grid-column: col-start 2 / span 10;
    height: 22rem;
    background: #fffbf5;;
    display: grid;
    grid-template-columns: repeat(6, 15rem);
    grid-template-rows: auto;
    gap: 1rem;
    row-gap: 3rem;
    align-content: center;
    padding: 0 1rem;

    overflow-x: scroll;
    scroll-snap-type: x proximity;
   

}


.recomended-products .heading {
    grid-column: 1 / span 2;
    position: relative;
}

.recomended-products .heading h2 {
    position: absolute;
    left: 17px;
    top: 6px;
    font-size: 1.5rem;
    z-index: 3;
}

.item1 {
    grid-row: 2;
    height: 330px;
    color: #331f00;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
 .item1 img {
     width: 14rem;
 }


.footer {
    grid-column: col-start / span 12;
    height: 100px;
    background: #476462;
}

/************* Product's Page **************/



.products-wrapper {
    display: grid;
    grid-template-columns: minmax(150px, 300px) auto;
    grid-template-rows: 150px 150px 100px 150px 150px  ;
    grid-template-areas: 
        "secondary-nav secondary-nav secondary-nav" 
        "sidebar computer-type computer-type"
        "sidebar computer-type computer-type"
        "sidebar featured-items featured-items"
        "sidebar featured-items featured-items";
}

.secondary-nav {
    grid-area: secondary-nav;
    background: brown;
   
}
.sidebar {
    grid-area: sidebar;
    background: coral;
}
.computer-type {
    grid-area: computer-type;
    background: darksalmon;
}
.featured-items {
    grid-area: featured-items;
    background: darkolivegreen;
}

/* Center text in each container */

.heading {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

